%li.slot{data: { slot_id: slot.id, card_type: slot.card_type&.name || "" }}
  - if !slot.card.present?
    .empty_slot_content
      .pull-right
        %a{href: slot_path(slot), data: { method: :delete, remote: true, confirm: "Delete slot?"}}
          %i.fa.fa-close
      - if slot&.card_type
        %label.label.label-info.pull-right{style:"margin-right:5px"}
          = slot&.card_type&.name
      .small
        click to fill
  - else
    .card{style: "border-left: 5px solid #{slot.card.color};padding: 5px 0 5px 10px;margin: -5px 5px -5px -5px", data: {card_id: slot.card.id, card_type: slot.card_type&.name || "" } }
      .pull-right
        %a{href: card_path(slot.card), data: { method: :delete, remote: true, confirm: "Delete card?"}}
          %i.fa.fa-close
      %div.card_name
        %span.card_name_view= slot.card.name
        %input.card_name_input{style:"display:none;margin:-3px;", onclick: "event.stopPropagation()", onkeydown: "if(event.keyCode==13) { card_name_save.apply(this,[event]) }", onblur: "card_name_save.apply(this,[event])"}
        %i.fa.fa-pencil.pull-right.edit-btn{style:"margin:0;padding:6px;margin-right:2px;margin-top:-2px;background:#ddd;border-radius: 2px;display:none;", onClick: "card_edit.apply(this,[event])"}
      .agile-detail
        %i.fa.fa-clock-o
        = I18n.l slot.card.created_at, format: :long

- if slot&.card
  = render "/home/card_view", card: slot&.card
