!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Trello'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Trello'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    #wrapper
      %nav.navbar-default.navbar-static-side
        .sidebar-collapse
          %ul#side-menu.nav.metismenu
            %li.nav-header
              .dropdown.profile-element
                %span.clear
                  %span.block.mt-xs
                    %strong.font-bold
                      Trello Like Cards
            %li= link_to "Cards", root_path
            %li= link_to "Card Types", card_types_path

      #page-wrapper.gray-bg
        .row
          .col-sm-12
            = yield
